.product-container {
    display: flex;
    justify-content: center;
    .product-index {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1280px;
        margin-bottom: 64px;
    }
}